<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{viewRegisterSection? 'Register':'Login'}}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<!-- logo section -->
	<div class="logo-section">
		<img src="../../assets/images/logo.png" alt="Sunrich">
	</div>
	<!-- logo section end--> 
	<!-- register -->
	<div class="register opacity-zer" *ngIf="viewRegisterSection">
		<form #registerForm="ngForm">
			<input type="email" name="registerEmail" [(ngModel)]="userRegisterDetail.email" placeholder="Email Id">
			<input type="password" name="registerPassword" [(ngModel)]="userRegisterDetail.password" placeholder="Password">
			<div class="text-center">
				<button class="btn-yellow btn btn-round btn-half-width" (click)="register(registerForm);">Register</button>
			</div>
		</form>
		<div class="form-info">
			<h6>Click here to  <span (click)="toggleView('loginView')">Login</span></h6>
		</div>
	</div>
	<!-- register -->
	<!-- login -->
	<div class="login opacity-zer" *ngIf="!viewRegisterSection">
		<form #loginForm="ngForm">
			<input type="email" name="loginEmail" [(ngModel)]="userLoginDetail.email" placeholder="Email Id">
			<input type="password" name="loginPassword" [(ngModel)]="userLoginDetail.password" placeholder="Password">
			<div class="text-center">
				<button class="btn-yellow btn btn-round btn-half-width"  (click)="login(loginForm);">Login</button>
			</div>
		</form>
		<div class="form-info">
			<h6>New User? <span (click)="toggleView('registerView')">Register</span></h6>
		</div>
	</div>
	<!-- login end-->
	<button (click)="getOrders();">create</button>
</ion-content>
