<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>{{productDetailInfo ? productDetailInfo.name: 'Product Details'}}

		</ion-title>
		<span class="cart-view" (click)="viewCart();">
			<span *ngIf="cartDetail && cartDetail.cartArray && cartDetail.cartArray.length">{{cartDetail.cartArray.length}}</span>
			<i class="fas fa-shopping-cart"></i>
		</span>	
	</ion-navbar>

</ion-header>


<ion-content padding>
	<div class="product-detail-container">
		<div class="sliders">
			<ion-slides pager>
				<ion-slide *ngFor="let images of productDetailInfo.images">
					<img src="{{images.url}}" alt="" class="img-fluid product-slide">
				</ion-slide>
			</ion-slides>
			<div class="previous-slide" (click)="previousSlide();"></div>
			<div class="next-slide" (click)="nextSlide();"></div>
		</div>
		<div class="product-info">
			<h2 class="product-name">{{productDetailInfo.name}}</h2>
			<div class="clearfix">
				<div class="f-left">
					<h6 class="product-price">{{productDetailInfo.price.localized}}</h6>
				</div>
				<div class="f-right">					
					<div class="product-quantity">
						<span class="remove-product" (click)="addToCart(productDetailInfo, 'remove')" [attr.disabled]="cartDetail.cartArray.length > 0">
							<i class="fas fa-minus"></i>
						</span>
						<span class="quantity-count">{{quantityCount}}</span>
						<span class="add-product" (click)="addToCart(productDetailInfo, 'add')">
							<i class="fas fa-plus"></i>
						</span>
					</div>
				</div>
			</div>
			<div class="descp">
				<h3>Product Description</h3>
				<p class="product-descp" [innerHTML]="productDetailInfo.description"></p>
			</div>
		</div>	
		<div class="button-group">
			<button ion-button round class="btn-yellow" (click)="addToCart(productDetailInfo, '')">Add To Cart</button>
			<button ion-button round class="btn-yellow">Buy Now</button>
		</div>
	</div>
</ion-content>
