<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>cart</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<!-- cart empty  -->
	<div class="empty-cart" *ngIf="cartList && cartList.length == 0">
		<i class="fas fa-shopping-cart fa-5x"></i>
		<h2>Cart is empty</h2>
		<p>Looks like you have no items in your shoppping cart</p>
		<p>Click on button to continue shopping</p>
		<button class="btn btn-yellow btn-full">Continue Shopping</button>
	</div>
	<!-- cart empty end-->
	<ion-grid class="cart-list" *ngFor="let cart of cartList">
		<ion-row>
			<ion-col col-4>
				<div class="product-img-container">
					<img src="{{cart.productImage}}" alt="" class="img-fluid">
				</div>
			</ion-col>
			<ion-col col-8>
				<h4>{{cart.productName}}</h4>
				<h5>{{cart.productDescp}}</h5>
				<div class="clearfix">
					<div class="f-left product-quantity">
						<span class="product-remove" (click)="cartQuantity(cart, 'remove')">-</span>
						<span class="quantity">							
							{{cart.productQuantity}}
						</span>
						<span class="product-add" (click)="cartQuantity(cart, 'add')">+</span>
					</div>
					<div class="f-right product-prize">
						<!-- <i class="fas fa-rupee-sign"></i> -->
						<span>₹</span>
						<span class="">{{cart.productTotalPrice}}</span>
					</div>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<!-- shipping cost and subtotal -->
	<div class="" *ngIf="cartList.length">
		<div class="shipping-cost sub-total">
			<div class="clearfix">
				<div class="f-left">
					<span class="total-heading">Shipping Charges</span>
				</div>
				<div class="f-right">
					<span class="total-cost">₹ {{shippingCost}}</span>
				</div>
			</div>
		</div>
		<div class="sub-total">
			<div class="clearfix">
				<div class="f-left">
					<span class="total-heading">SubTotal</span>
				</div>
				<div class="f-right">
					<span class="total-cost">₹ {{subTotal + shippingCost}}</span>

				</div>
			</div>
		</div>
	</div>
	<!-- shipping cost and subtotal end-->
	<div class="text-center">
		<button class="btn-yellow btn-full" *ngIf="cartList.length" (click)="checkout()">Checkout</button>
	</div>
</ion-content>
