page-profile {
	.card-view {
		border-radius: 4px;
		box-shadow: 1px 1px 3px #c5c5c5;
		margin-bottom: 20px;
		background-color: $color-white;
		h3.heading {
			padding: 10px;
			border-bottom: 3px solid #c1c1c1;
			border-radius: 4px 4px 0 0;
			margin-bottom: 0;
			background-color: #d0d0d0;
			font-size: 18px;
			font-weight: 500;
		}
		form {
			padding: 1px 15px 15px;
			.list-md {
				.item-md {
					&.item-input-has-focus {
						.label-md[floating] {
							color: #999 !important;
						}
						&:last-child {
							border-bottom-color: #dedede !important;
							box-shadow: none !important;
						}
						.item-inner {
							border-bottom-color: #dedede !important;
							box-shadow: none !important;
						}
					}
					&.item-input-has-value {
						.item-inner {
							border-bottom-color: #dedede !important;
							box-shadow: none !important;
						}
					}
					.item-inner {
						padding: 0;
					}
				}
				.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
				.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
					border-bottom-color: #dedede !important;
					box-shadow: none !important;
				}

			}
		}
	}
	.address-list-container {
		margin-top: 20px;
		.address-holder {
			padding: 15px;
			border-bottom: 1px solid #e5e5e5;
			position: relative;
			&:last-child {
				border-bottom: none;
			}
			> span {
				margin-bottom: 5px;
				display: block;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.more-option {
				position: absolute;
				top: 12px;
				right: 15px;
				> span:first-child {
					margin-right: 10px;
				}
				i {
					font-size: 16px;
					color: #5d5d5d;
				}
			}
		}
	}
}
