page-home {
	.scroll-content {
		padding: 0 !important;
	}
	.sliders {
		height: 250px;
		box-shadow: 0px 2px 4px #a5a5a5;
		position: relative;
		.product-slide {
			height: calc(100% - 70px);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.swiper-pagination-bullet-active {
			background: $color-brown;
		}
	}

	.cart-view {
		position: absolute;
		right: 20px;
		bottom: 15px;
		.fas {
			font-size: 20px;
			color: $color-white;
		}
		span {
			width: 20px;
			height: 20px;
			display: block;
			background-color: #fbd05d;
			text-align: center;
			line-height: 20px;
			border-radius: 100%;
			font-size: 10px;
			position: absolute;
			right: -11px;
			top: -11px;
		}
	}

	.featured-product {
		padding: 0;
		.heading {
			margin: 30px 0 20px;
			text-align: center;
		}
	}
	
	.product-container {
		min-height: 195px;
		max-height: 195px;
		border-radius: 8px;
		box-shadow: 0px 3px 8px #bcbcbc;
		margin: 0 5px 10px;
		background-color: #c6c5cb;
		position: relative; 
		z-index: 1;  
		overflow: hidden;
		.product-img-holder {
			position: absolute;
			top: 25%;
			left: 50%;
			transform: translate(-50%,-25%);
			img {
				max-height: 100px;
			}
		}
		.product-detail {
			width: 100%;
			padding: 10px;			
			position: absolute;
			left: 0;
			bottom: 0;
			background-color: #fff;
			h5 {
				margin-bottom: 5px;
				font-size: 14px;
			}
			.price {
				font-size: 12px;
			}
		}
		.wishlist-icon {
			position: absolute;
			right: 15px;
			bottom: 17px;
			i { font-size: 22px; }
		}
	}
}

// .opac-zero {
// 	opacity: 0;
// }
