<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <div class="sliders">
    <ion-slides pager>
      <ion-slide *ngFor="let slideList of productList | slice:5:8">
        <img src="http://www.sunrichrice.com{{slideList.node.thumbnailUrl}}" alt="" class="img-fluid product-slide">
      </ion-slide>
    </ion-slides>
    <div class="previous-slide" (click)="previousSlide();"></div>
    <div class="next-slide" (click)="nextSlide();"></div>
  </div>
  <div class="featured-product">
    <h4 class="heading">Featured Products</h4>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let list of productList | slice:0:4">
         <div class="product-container" (click)="productDetail(list);">
          <div class="product-img-holder">
            <img src="http://www.sunrichrice.com{{list.node.thumbnailUrl}}" alt="" class="img-fluid opac-zero">
          </div>
          <div class="product-detail">
            <h5>{{list.node.name}}</h5>
            <span>{{list.node.price.localized}}</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
  <!-- <button ion-button secondary menuToggle>Toggle Menu</button>
    <button ion-button (click)="registerPage()">Open page</button> -->
  </ion-content>
