// http://ionicframework.com/docs/theming/


/* App Global Sass
 --------------------------------------------------
 Put style rules here that you want to apply globally. These
 styles are for the entire app and not just one component.
 Additionally, this file can be also used as an entry point
 to import other Sass files to be included in the output CSS.

 Shared Sass variables, which can be used to adjust Ionic's
 default Sass variables, belong in "theme/variables.scss".

 To declare rules for a specific mode, create a child rule
 for the .md, .ios, or .wp mode classes. The mode class is
 automatically applied to the <body> element in the app.*/

 @import url(https://use.fontawesome.com/releases/v5.7.2/css/all.css); 
 // @import url(https://fonts.googleapis.com/css?family=Lato); 
 @import url(https://fonts.googleapis.com/css?family=Josefin+Sans); 
 // @import "../font-awesome.css"; 

 body {
 	// font-family: 'Lato', sans-serif;
 	font-family: 'Josefin Sans', sans-serif;
 	ion-app.md {
 		// font-family: 'Lato', sans-serif;
 		font-family: 'Josefin Sans', sans-serif;
 	}
 }

 /*colors*/
 $color-button : #daaa2c;
 $color-black: #000;
 $color-white: #fff;
 /*$color-brown: #a77c09;*/
 // $color-brown: #c18d00;
 $color-brown: #ffbc41;
 // $color-brown: #daaa2c;
 $color-greenblack: #292f28;
 $color-darkgrey: gray;
 /*colors end*/

 // #5a450d brown wala

 /*classes*/
 .btn-yellow {
 	padding: 12px 40px 10px;
 	height: 40px;
 	border-radius: 6px;
 	background-color: $color-brown;
 	color: $color-black;
 	font-weight: 700;
 	letter-spacing: 1px;
 	text-transform: uppercase;
 	&:hover:not(.disable-hover) {
 		background-color: $color-brown;
 		color: $color-black;
 	}
 }

 .btn-round {
 	border-radius: 25px;
 }
 .btn-full {
 	width: 100%;
 }
 .btn-half-width {
 	width: 50%;
 	margin: 0 auto;
 }

 .text-center {
 	text-align: center;
 }
 /*classes end*/

 ng-component {
 	/*background-image: linear-gradient(to right, #e0e0e1, #f2f2f4);*/
 	// background-image: linear-gradient(to right, #e0e0e1, #f5f5f5);
 	background-color: #f6f6f6; 

 	/*header set to background transparent*/
 	.toolbar-background-md {
 		background-color: $color-brown;
 	}

 	.ion-md-menu:before {
 		background-image: url('../assets/images/hamburger.svg');
 		content: "" !important;
 		width: 30px;
 		height: 20px;
 		background-repeat: no-repeat;
 		background-position: 5px 0;
 	}
 	/*header end	*/
 	/*header set to background transparent end*/

 	ion-navbar.toolbar {
 		// box-shadow: 0px 2px 3px rgba(0,0,0,.35);
 		box-shadow: none;
 	}

 	.toolbar-title-md {
 		padding: 0px 5px;
 		color: $color-black;
 		text-transform: capitalize;
 	}

 	.bar-button-default-md {
 		color: $color-black;
 		font-weight: 700;
 		&:hover:not(.disable-hover) {
 			color: $color-black;
 		}
 	}

 	button.togglebutton {
 		order: 0;
 		font-size: 22px;
 		background-color: transparent;
 		color: $color-black;
 	}
 	button.back-button {
 		color: $color-black;
 	}

 	/*content background to transparent*/
 	.content-md {
 		background-color: transparent;
 	}
 	/*content background to transparent end*/

 	.welcome-heading {
 		display: block;
 		font-size: 14px;
 		+ .user-name {
 			display: block;
 		}
 	}

 	// menu content
 	.menu-content {
 		.item-md {
 			padding: 0;
 			.item-inner {
 				padding: 0px 10px;
 				.menu-icon {
 					font-size: 18px;
 					margin-right: 10px;
 					color: $color-brown;
 					+ span {
 						font-size: 18px;
 					}
 				}
 			}
 		}
 	}
 	// menu content end
 }

 // https://dribbble.com/shots/6120171-Groceries-Shopping-App-Interaction
 // https://jsfiddle.net/geocodezip/d5ncce6h/