page-orders {
	.clearfix {
		overflow: auto;
		.f-left { float: left;  }
		.f-right { float: right;  }
	}
	.order-item-container {
		padding: 10px 15px;
		border-radius: 8px;
		box-shadow: 0px 2px 3px #cdcdcd;
		margin-bottom: 20px;
		background-color: $color-white;
		.order-header {
			.order-name {
				margin: 0px 0px 5px;
				font-size: 16px;
				font-weight: 700;
			}
			.total-cost {
				color: #7d7d7d;
			}
			[col-2], [col-10] { padding: 0; }
			.img-holder {
				img { max-height: 45px; }
			}
		}

		.order-main {
			border-top: 1px solid #c3c3c3;
			border-bottom: 1px solid #c3c3c3;
			.sub-heading {
				margin: 10px 0;
				span {
					font-size: 12px;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: #737373;
					margin-bottom: 5px;
					display: block;
					font-weight: 500;
				}
				h5 {
					margin: 0;
					font-size: 15px;
					font-weight: 400;
				}
			}
		}
		.order-footer {
			padding: 10px 0;
			.deilvery-head {
				font-size: 12px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: #737373;
				margin-top: 5px;
				font-weight: 500;
			}
		}		
	}
}
